<div class="card">
    <div class="card-header"> Problem: <%= problem.position %> </div>
    <div class="card-body">
        <strong class="mx-1"> Description: </strong> <%= problem.description%>
        <%= yield %>
    </div>
    <div class="card-footer d-flex">
        <div class="input">
            <strong class="mx-1" > Test input:</strong > <%= problem.test_input %>
        </div>
        <div class="result">
            <strong class="mx-1"> Test result:</strong> <%= problem.test_result %>
        </div>
    </div>  
</div>