<div class="row my-2">
    <%= render "problems/problem", problem: @problem %>
</div>
<% if @tested_solution %>
    <h3>Solution for the given input: <%= @tested_solution.output %> </h3>
<% end %>
<div class="row my-2 d-flex justify-content-center">
     <div data-controller="toggle-display w-100">
        <span data-toggle-display-target="toggable"> Post an answer: </span><i class="fas fa-pen" data-action="click->toggle-display#toggle"> </i>
        <%= simple_form_for @solution, html: {"data-toggle-display-target" => "toggable", class: "#{'d-none' unless @solution.errors.any?} card p-2"}, remote: true do |f| %>
            <%= f.input :code, placeholder: "If you're code is in ruby, it should NOT be a function definition, but raw code with a return at the end",input_html: { rows: 8 } %>
            <%= f.input :language %>
            <%= f.input :comment %>
            <%= f.input :problem_id, as: :hidden, input_html: { value: @problem.id } %>
            <%= f.submit %>
        <% end %>
    </div>
</div>


<div class="my-2">
   
    <strong> Provided Answers: </strong>
    <div class="row">
        <% @problem.solutions.each do |answer| %>
            <div class="card col-12">
                <div class="card-header">
                    created at: <%= answer.created_at %>
                    <% if @tested_solution %>
                        <%= @tested_solution.present? %>
                        <h3>Solution for the given input: <%= @tested_solution.output %> </h3>
                    <% end %>
                </div>
                <div class="body d-flex justify-content-around">
                    <pre><code class="m-2">
                    <%= answer.code %> 
                    </code></pre>
                    <%= simple_form_for :tested_solution, url: problem_path(@problem), method: :get do |f| %>
                        <%= f.input :input, as: :text, label: "input to test", input_html: {value: (@tested_solution&.input || @problem.test_input) } %>
                        <%= f.input :answer_id, as: :hidden, input_html: {value: answer.id }%>
                        <%= f.submit %>
                    <% end %>
                </div>
                <div class="footer">
                    <% if current_user == answer.user %>
                        <%= link_to "delete", solution_path(answer), method: :delete%>
                    <% end %>
                </div>
            </div> 
        <% end %>
    </div>
</div>
