<div class="container">
    <p>today is <%= @day.date.strftime("%D") %> </p>

    <p> today problems: </p>

    <% @day.problems.sort_by(&:position).each do |problem|%>
        <%= render "problems/problem", problem: problem do %>
                <%= link_to "see the answers", problem_path(problem)%>
        <% end %>
    <% end%>

    <div data-controller="toggle-display">
        <span> Post todays problem: <i class="fas fa-pen" data-action="click->toggle-display#toggle"> </i> </span>
        <%= simple_form_for @new_problem, html: {"data-toggle-display-target" => "toggable", class: "d-none"} do |f| %>
            <%= f.input :description %>
            <%= f.input :test_input %>
            <%= f.input :test_result %>
            <%= f.input :position%>
            <%= f.input :day_id, as: :hidden, input_html: { value: @day.id } %>
            <%= f.submit %>
        <% end %>
    </div>
</div>